h1 {
  color: #2a4759;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  letter-spacing: 0.8px;
  margin: 30px 0;
}

footer {
  color: #2a4759;
  font-family: "Poppins", sans-serif;
  font-size: 11px;
  flex-grow: 0;
  padding: 10px 0;
  text-align: center;
}

a {
  color: #db8967;
  text-decoration: none;
}

small {
  font-family: "Poppins", sans-serif;
  padding-left: 5px;
  color: rgba(42, 71, 89, 0.5);
  margin-top: 20px;
  font-size: 11px;
}

.main {
  flex-grow: 1;
}
.container {
  width: 700px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 60px auto;
}

.text-input {
  width: 70%;
  padding: 5px;
  border-radius: 2px;
  border: 1px solid rgba(238, 238, 238, 0.4);
  background-color: rgba(238, 238, 238, 0.4);
  font-size: 14px;
  color: #2a4759;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.submit {
  padding: 5px 15px;
  border-radius: 5px;
  border: none;
  background-color: rgba(221, 221, 221, 0.7);
  font-size: 14px;
  color: rgba(42, 71, 89, 0.9);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin-left: 4px;
  transition: 200ms all ease-in-out;
}

.submit:hover {
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  background-color: rgba(221, 221, 221, 0.4);
  cursor: pointer;
}

.poem {
  font-family: "Permanent Marker", cursive;
  font-size: 17px;
  color: #f79b72;
  border-left: 2px solid #f79b72;
  padding-left: 30px;
  margin-top: 30px;
}

.poem strong {
  color: #2a4759;
}

.hidden {
  display: none;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
